<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.sofip.rental.ui.category"
            name="Rental">
      </category>
      <view
            category="com.sofip.rental.ui.category"
            class="com.sofip.rental.ui.views.RentalPropertyView"
            icon="icons/Rentals.png"
            id="com.sofip.rental.ui.rentalPropertyView"
            name="Rental Properties"
            restorable="true">
      </view>
      <view
            category="com.sofip.rental.ui.category"
            class="com.sofip.rental.ui.views.RentalAgencyView"
            icon="icons/Agency.png"
            id="com.sofip.rental.ui.rentalAgencyView"
            name="Rental Agency"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.sofip.rental.ui.perspective.RentalPerspective"
            icon="icons/Agency.png"
            id="com.sofip.rental.ui.perspective"
            name="Rental">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.sofip.rental.ui.prefs.RentalColorPrefs"
            id="com.sofip.rental.ui.colorprefpage"
            name="Colors">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.sofip.rental.ui.prefs.RentalUIPrefInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.sofip.rental.ui.handlers.RentalCommand"
            id="com.sofip.rental.ui.rentalcommande"
            name="Rental Command">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="Marc">
            <command
                  commandId="com.sofip.rental.ui.rentalcommande"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.views.ResourceNavigator?after=additions">
         <command
               commandId="com.sofip.rental.ui.rentalcommande"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:com.sofip.rental.ui.rentalAgencyView?after=additions">
         <command
               commandId="com.sofip.rental.ui.rentalcommande"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.copy"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="com.sofip.rental.ui.customerSelected">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="com.sofip.rental.ui.customerSelected">
         <iterate>
            <instanceof
                  value="com.opcoach.training.rental.Customer">
            </instanceof>
         </iterate>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.sofip.rental.ui.handlers.CopyCustomerHandler"
            commandId="org.eclipse.ui.edit.copy">
         <activeWhen>
            <reference
                  definitionId="com.sofip.rental.ui.customerSelected">
            </reference>
         </activeWhen>
         <enabledWhen>
            <reference
                  definitionId="com.sofip.rental.ui.customerSelected">
            </reference>
         </enabledWhen>
      </handler>
   </extension>
</plugin>
